* {
  box-sizing: border-box;
}

body {
background-color: white;
font-family: Arial, Helvetica, sans-serif;
}

#poster {
  background-color: lightgray;
  width: 600px;
  height: 900px;
  margin: 60px 30px 30px 30px;
  
}

.text{
line-height: 4px;
font-size: 13px;
letter-spacing: .08px;
line-height:.05px;
position: sticky;
}

#upper{
margin-left:53%;
margin-top:-17%;
}

#upper-tri{
border-top: 300px dashed black;
border-left: 300px dashed #EE7600;
margin-left:50%;
position:sticky;
}

#middle{
margin-left: 53%;
margin-top: -45%;
}

#middle-tri{
border-top: 300px solid black;
border-right: 300px solid #EE7600;

margin-right:50%;
margin-top:8.4%;
position:sticky;
}

#rancid{
margin-left: -2%;
margin-top: 25%;
padding-top: 100px;
font-size:90px;
}

#bottom{
margin-left: 53%;
margin-top: -61%;
padding-top: 100px;
}

#bottom-tri{
border-right: 300px solid black;
border-top: 300px solid #EE7600;
margin-left: 50%;
margin-top: -2.2%;
position:sticky;
}